# Common
.DS_Store
*.log
*.pid

# Node
node_modules/
dist/
.env
.eslintcache

# Rust
target/
Cargo.lock

# IDE
.vscode/
.idea/

# Testing
test-results/
playwright-report/
blob-report/
playwright/.cache/
